<div class="collection-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="collection-style-01 margin-top-20">
                    <div class="thumb">
                        <img src="assets/img/collection/1.png" alt="">
                        <div class="content">
                            <h3>PANTALONES Y JUMPER</h3>
                            <a [routerLink]="['/mercaderias/pantalon-jumper']" >Ver colección</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="collection-style-01 margin-top-20">
                    <div class="thumb">
                        <img src="assets/img/collection/2.png" alt="">
                        <div class="content">
                            <h3>FALDAS Y SHORTS</h3>
                            <a [routerLink]="['/mercaderias/faldas-short']">Ver colección</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="collection-style-01 margin-top-20">
                    <div class="thumb">
                        <img src="assets/img/collection/3.png" alt="">
                        <div class="content">
                            <h3>TOREROS</h3>
                            <a [routerLink]="['/mercaderias/toreros']">Ver colección</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>