<app-pre-loader></app-pre-loader>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="alert alert-danger" *ngIf="errors.length > 0" role="alert">
        <ul>
          <li *ngFor="let item of errors">{{item}}</li>
        </ul>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title m-0">Registrar</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="registrarForm" (submit)="registrar()">
            <div formGroupName="Persona">
              <div class="form-group row">
                <label class="col-md-3">Nombres: <span style="color:red">*</span></label>
                <div class="col-md-9">
                  <input class="form-control" type="text" id="Nombres" formControlName="Nombres"/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3">Apellidos: <span style="color:red">*</span></label>
                <div class="col-md-9">
                  <input class="form-control" type="email" id="Apellidos" formControlName="Apellidos"/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3">Fecha Nac.: <span style="color:red">*</span></label>
                <div class="col-md-9">
                  <input class="form-control" type="date" id="FechaNacimiento" formControlName="FechaNacimiento"/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3">Dirección 1: <span style="color:red">*</span></label>
                <div class="col-md-9">
                  <input class="form-control" type="text" id="Direccion1" formControlName="Direccion1"/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3">Dirección 2: </label>
                <div class="col-md-9">
                  <input class="form-control" type="text" id="Direccion2" formControlName="Direccion2"/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3">Documento: <span style="color:red">*</span></label>
                <div class="col-md-9">
                  <input class="form-control" type="text" id="Documento" formControlName="Documento"/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3">Celular: <span style="color:red">*</span></label>
                <div class="col-md-9">
                  <input class="form-control" type="text" id="Celular" formControlName="Celular"/>
                </div>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label class="col-md-3">Email: <span style="color:red">*</span></label>
              <div class="col-md-9">
                <input class="form-control" type="email" id="Email" formControlName="Email" placeholder="..@...com"/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3">Contraseña: <span style="color:red">*</span></label>
              <div class="col-md-9">
                <input class="form-control" type="password" id="Contrasena" autocomplete="false" formControlName="Contrasena" placeholder=""/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3">Confirmar contraseña: <span style="color:red">*</span></label>
              <div class="col-md-9">
                <input class="form-control" type="password" id="Contrasena" autocomplete="false" formControlName="ConfirmarContrasena" placeholder=""/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 d-flex justify-content-between">
                <button type="submit" class="btn btn-info">Registrar</button>
                <a class="btn btn-outline-secondary" href="javascript:void(0)">Login</a>
              </div>
            </div>
           
          </form>
        </div>
      </div>
    </div>
    
  </div>
  
</div>
