<!-- footer area start -->
<footer class="footer-area footer-style-1 padding-top-70 margin-top-70">
    <div class="footer-top padding-bottom-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="widget widget_nav_menu">
                        <h4 class="widget-title">CATEGORIES</h4>
                        <ul>
                            <li><a href="#">Pantalón</a></li>
                            <li><a href="#">Jumper</a></li>
                            <li><a href="#">Shorts</a></li>
                            <li><a href="#">Toreros</a></li>
                            <li><a href="#">Faldas</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="widget contact-widget">
                        <h4 class="widget-title">DIRECCIÓN</h4>
                        <ul class="contact_info_list">
                            <li class="single-info-item">
                                <div class="icon">
                                    <i class="icon-home-foother"></i>
                                </div>
                                <div class="details">
                                    <span>Galeria Guizado Hermanos 259 - 273<br>Av. 28 de Julio 2560, La Victoria 15018</span>
                                </div>
                            </li>
                            <li class="single-info-item">
                                <div class="icon">
                                    <i class="icon-email-subscribe"></i>
                                </div>
                                <div class="details">
                                    josepfs_1995@hotmail.com
                                </div>
                            </li>
                            <li class="single-info-item">
                                <div class="icon">
                                    <i class="icon-call-footer"></i>
                                </div>
                                <div class="details">
                                    <a href="tel:+51977420232">+51 977 420 232</a><br/>
                                    <a href="tel:+51924954660">+51 924 954 660</a><br/>
                                    <a href="tel:+51945881557">+51 945 881 557</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 offset-md-3">
                    <div class="widget widget_nav_menu">
                        <h4 class="widget-title">SÍGUENOS</h4>
                        <ul>
                            <li><a target="_blank" href="https://www.facebook.com/Estefania-Jeans-132150520780790"><i class="icon-facebook"></i> Facebook</a></li>
                            <li><a href="#"><i class="fa fa-whatsapp"></i> Whatsapp</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</footer>
<!-- footer area end -->